asgiref
dj-database-url
Django
django-stdimage
gunicorn
packaging
pillow
psycopg2
psycopg2-binary
python-dotenv
sqlparse
tzdata
whitenoise
django-storages
django-storage-supabase
supabase>=2.0.0
boto3
gunicorn
whitenoise
